/* Works on Chrome, Edge, and Safari */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ECC94B;
  border-radius: 10px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ECC94B grey;
}
